---
import BaseLayout from '../layouts/BaseLayout.astro';
import RegisterForm from '../components/RegisterForm.vue';
import Footer from '../components/Footer.vue';
---

<BaseLayout title="用户注册 - 时序同笺">
  <div class="flex-1 bg-gray-50">
    <RegisterForm client:load />
  </div>
  <Footer client:load />
</BaseLayout>
